__pycache__
logs/
scripts/

# Distribution / packaging
build/
dist/
*.egg-info/

# helpers.so for data processing
helpers.*.so
examples/
data/
!/megatron/data
tb/
msa_tools/*.bin
msa_tools/*.idx
msa_tools/*.json
ckpt/
local_scripts/
